#title{text-align: center;}
#title h1{font-size: 3em; display:inline-flex; align-items:center}
#title img{width: 100px; margin-right: 0.5em}
#prompt input{width: calc(100% - 160px);border-top-right-radius: 0px;border-bottom-right-radius: 0px;}
#run_button{position:absolute;margin-top: 11px;right: 0;margin-right: 0.8em;border-bottom-left-radius: 0px;border-top-left-radius: 0px;}
#gallery{display:flex;}
#gallery .grid-wrap{min-height: 100%;}
#accordion code{word-break: break-all;word-wrap: break-word;white-space: pre-wrap}
#soon{opacity: 0.55; pointer-events: none}
#soon button{width: 100%}
#share-btn-container {padding-left: 0.5rem !important; padding-right: 0.5rem !important; background-color: #000000; justify-content: center; align-items: center; border-radius: 9999px !important; max-width: 13rem; margin-left: auto;}
div#share-btn-container > div {flex-direction: row;background: black;align-items: center}
#share-btn-container:hover {background-color: #060606}
#share-btn {all: initial; color: #ffffff;font-weight: 600; cursor:pointer; font-family: 'IBM Plex Sans', sans-serif; margin-left: 0.5rem !important; padding-top: 0.5rem !important; padding-bottom: 0.5rem !important;right:0;}
#share-btn * {all: unset}
#share-btn-container div:nth-child(-n+2){width: auto !important;min-height: 0px !important;}
#share-btn-container .wrap {display: none !important}
#share-btn-container.hidden {display: none!important}
#extra_info{margin-top: 1em}
.pending .min {min-height: auto}
#gallery_box{padding-top: 0}
#gallery_box .form{border: 0 !important}
#order_radio{border: 0;padding-left: 0}
#order_radio .form{border:0 !important; padding-bottom: 0.25em}
#order_radio [data-testid="block-info"]{float: left;margin-top: 2px;margin-right: 6px}
#order_radio label{padding: 0.25em 0.75em !important;font-size: 85% !important}
@media (max-width: 527px) {
  #title h1{font-size: 2.2em}
  #title img{width: 80px;}
  #gallery {max-height: 370px}
}